  
<tr>
  <td><%= test.category.title %></td>
  <td><%= test.tittle %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to 'Показать тест', test_path(test) %></td>
</tr>