<p>
  <strong>Тест:</strong>
<%= @test.tittle %>

<p>
  <strong>Уровень:</strong>
<%= @test.level %>

<p><h2>Вопросы теста:</h2>
<table>
  <%= render @questions %>
</table>

<%= link_to 'Изменить тест', edit_test_path(@question) %> |
<%= link_to 'Удалить тест', question_path(@question),
                       method: :delete,
                       data: {confirm: 'Вы уверены?'} %>
<%= link_to 'Вернуться к списку тестов', test_path %>
